.grid {
    display: grid;
    width: 100%;
    grid-template-columns: repeat(6, [col] 1fr); /* repeat(3, 1fr) - this property makes 3 columns with 1fr width */
    grid-template-rows: repeat(3, [row] 1fr);
    grid-gap: 1px;

    border: 1px dotted;
}

.grid-item {
    border: 3px dashed;

    min-height: 80px;
}
#grid-item1 {
    background-color: red;
    grid-column: span 2;

    /*
    grid-column-start: 3;
    grid-column-end: 4;

    grid-column: 3 / 4;

    grid-row-start: 1;
    grid-row-end: 4;

    grid-row: 1 / 4;

    САМАЯ БЫСТРАЯ ЗАПИСЬ, но не очень удобная

    grid area: 1 / 3 / 4 / 4
    */
}

#grid-item2 {
    background-color: blue;
    grid-column: col 3 / col 5;
    grid-row: row 1 / row 3;
}

#grid-item3 {
    background-color: green;
    grid-column: col 5 / col 5;
    grid-row: row 1 / row 3;
}

#grid-item9 {
    grid-column: col 2 / col 4;
    grid-row: row 3 / row 3;
}

#grid-item10 {
    grid-column: col 4 / col 6;
    grid-row: row 3 / row 3;
}